@charset "UTF-8";

body{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: blue;
    text-decoration: underline cornflowerblue;
}
h2 {
    color: red;
}
p{
    text-align: justify;
    color: rgb(252, 5, 231);
 
}